 <div class="user-details">
  <h1> WooChain Overview </h1>
  <p> WooChain is a decentralized, transparent all-in-one platform based on the Ethereum blockchain which helps simplify the blockchain process. The platform is comprised of many components: a digital exchange for WooChain coins, analytics dashboard, record posting for timestamped documents such as: Financial Instruments, Records and Models, Public Records, Private Records, Physical Asset Keys, Intangibles, and more. We plan to implement reward systems to incentive every user.
 </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Users</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Users will transact in $Woo to send data and money and the click of a button.</p>
    </div>
    <div class="tech">
      <h2>Professionals</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Professionals and Corporations will use $Woo to host, analyze, and share data within the
economy.
When users choose to send data/money within the WooChain ecosystem, they will be able to keep track of their records on our easy to use platform. Imagine an easy to use platform where you one can keep track of a currency, mortgage record, crowdfund, certificate, permit, escrow, physical key, coupon, trademark, online identity, etc. WooChain is the internets first smart data system, Woo!</p>
    </div>
    <div class="tech">
      <h2>Developers</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Developers are able to utilze WooChain Developer section enabling APIs, shared ledgers, and even their own applications. </p>
    </div>
</div>
