<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
    </h1>
      <div class="header-links">
        <a href="{{site.baseurl}}/WooChain-Explanation-FAQ/" class="button blue">What We Are Building?</a>
  <a href="{{site.baseurl}}/Blockchain-Concepts-Theories/" class="button orange">How We Are Building?</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
